button:focus {
  @apply !focus:outline-none;
}

.text-disable {
  @apply text-blue-gray-400 not-disabled:text-warm-gray-700 not-disabled:hover:text-shadow-sm;
}

.top-bar-text {
  @apply tracking-wider sm:text-size-lg md:text-size-xl;
}

#countdown-timer {
  @apply font-bold tracking-wider sm:text-size-2xl md:text-size-3xl lg:text-size-4xl;
}

.big-score {
  @apply shadow-lg rounded-xl flex flex-col h-55 text-center p-4 w-60 justify-around items-center <xl:hidden;
}

div.record {
  @apply hover:(bg-gray-100 bg-opacity-30);
}

.record span:nth-child(1) {
  @apply text-center w-2/12;
}

.record span:nth-child(2) {
  @apply pl-4 w-6/12;
}

.record span:nth-child(3) {
  @apply text-center w-4/12;
}

.ellipse-lg {
  @apply rounded-full h-[18%] w-[9%] absolute;
  transform: translate(-50%, -50%);
}

.ellipse-sm {
  @apply rounded-full h-[8%] w-[4%] absolute;
  transform: translate(-50%, -50%);
}

.rectangle {
  @apply rounded-xl h-[8%] text-white w-[8%] absolute;
  transform: translate(-50%, -50%);
}

.scoreboard {
  @apply inset-0 overflow-scroll overflow-x-hidden absolute;
  scrollbar-width: none;
}

.scoreboard::-webkit-scrollbar {
  display: none;
}
