button:focus {
  @apply !focus:outline-none;
}

.action-btn {
  @apply bg-emerald-300 hover:bg-emerald-200 rounded-full p-2 flex justify-center items-center gap-2;
}

/* .select-wrapper::after {
  @apply border-gray-700 absolute p-1 w-2 h-2 -right-[2%] top-2 hidden;
  content: "";
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
} */

select {
  @apply appearance-none bg-transparent border-none p-0 pr-4 m-0 w-full outline-none;
  @apply text-center;
}

.drop-highlight {
  @apply !border-emerald-300;
}

.drop-success {
  @apply !bg-emerald-300;
}

.text-disable {
  @apply text-blue-gray-400 not-disabled:text-warm-gray-700 not-disabled:hover:text-shadow-sm;
}

.top-bar-text {
  @apply tracking-wider sm:text-size-lg md:text-size-xl;
}

#countdown-timer {
  @apply font-bold tracking-wider sm:text-size-2xl md:text-size-3xl lg:text-size-4xl;
}

.big-score {
  @apply shadow-lg rounded-xl flex flex-col h-55 text-center p-4 w-60 justify-around items-center <xl:hidden;
}

div.record {
  @apply hover:(bg-gray-100 bg-opacity-30);
}

.record span:nth-child(1) {
  @apply text-center w-2/12;
}

.record span:nth-child(2) {
  @apply pl-4 w-6/12;
}

.record span:nth-child(3) {
  @apply text-center w-4/12;
}

.ellipse-lg {
  @apply rounded-full h-[18%] w-[9%] absolute;
  transform: translate(-50%, -50%);
}

.ellipse-sm {
  @apply rounded-full h-[8%] w-[4%] absolute;
  transform: translate(-50%, -50%);
}

.square {
  @apply h-[6%] text-white w-[6%] absolute;
  transform: translate(-50%, -50%);
}

.rectangle {
  @apply rounded-xl h-[6%] text-white w-[7%] absolute;
  transform: translate(-50%, -50%);
}

.grid > .counter {
  @apply border border-white border-opacity-30;
}

.scoreboard {
  @apply inset-0 overflow-scroll overflow-x-hidden absolute;
  scrollbar-width: none;
}

.scoreboard::-webkit-scrollbar {
  display: none;
}

.great-victory {
  @apply my-4 bg-[#FFD700] rounded-xl py-2 w-60 shadow flex items-center justify-center;
}

.times-up {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    @apply text-red-600;
  }
  49% {
    @apply text-red-600;
  }
  50% {
    @apply text-black;
  }
}
